<!DOCTYPE HTML>
<html>
<head>
	<title><%= @message %></title>
</head>
<body style="background-color: pink" text="blue">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	 <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcTx0Q0kkMjcahB5EzIxYS0AFRRulocbMDxdRBKBFIIOfP1EIr6n"><br>Hai</img>
 <%= @message %>
 <h1><%= @x %></h1>
 <%= @x.times do %>
 <h1><%= @y %></h1>
 <% end %>
</body>
</html>
