// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body 
{ 
  font-family:sans-serif;
  background-image: url("http://www.imgion.com/images/01/Two-Red-Flower-.jpg");
  background-image:no-repeat;

}
h1 {font-family:serif;
font-size: 24pt;
font-weight: bold;
color:#F00 ;
}

